@use '../abstracts/' as *;

/* Box
-------------------------------------------------------------- */
.about-inner {
    @include flex(inherit, space-between);
    position: relative;
    overflow: hidden;

    &.style1 {
        padding: 64px 215px 60px;
    }

    &.style2 {
        padding-left: 18%;
        padding-right: 18%;
        padding-top: 87px;
        padding-bottom: 83px;
    }

    &.style3 {
        padding-left: 13%;
        padding-right: 13%;
        padding-top: 60px;
        padding-bottom: 52px;

        .box .inner .icon {
            width: 79px;
            height: 79px;
            border-radius: 15px;
            background-color: $color-2;

            svg {
                width: 35px;
                height: 35px;
            }
        }
    }

    .icon-bg {
        position: absolute;

        &.icon_1 {
            left: -35px;
            bottom: -40px;
        }

        &.icon_2 {
            right: -35px;
            bottom: -20px;
        }
    }

    .box {
        text-align: center;
        height: 100%;
        position: relative;
        overflow: hidden;

        h5 {
            position: relative;
            padding-bottom: 22px;
            letter-spacing: 0.6px;
            font-weight: 600;

            &::before {
                position: absolute;
                content: "";
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 60px;
                height: 3px;
                background-color: $color-main;
            }
        }

        .inner {
            position: relative;
            @include flex(center, flex-start);
            flex-direction: column;
            top: 0;

            .icon {
                width: 96px;
                height: 96px;
                background-color: $color-2;
                border-radius: 20px;
                @include flex(center, center);

                svg {
                    width: 47px;
                    height: 41px;

                    path {
                        fill: $white;
                    }
                }
            }


        }

        .hover-effect {
            padding: 12px 35px 16px;
        }

        .inner {
            @include transition5;
            padding: 14px 16px 16px;
        }

        .hover-effect {
            @include transition3;
            position: absolute;
            top: -100%;
            opacity: 0;
            visibility: hidden;
        }

        &.active,
        &:hover {
            .inner {
                top: 100%;
                @include transition3;
            }

            .hover-effect {
                @include transition5;
                top: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.item-box {
    position: relative;
    margin-bottom: 30px;

    .image {
        img {
            border-radius: 20px;
        }
    }

    .content {
        top: 0;
        left: 0;
        padding: 42px 60px 42px 40px;
        position: absolute;

        .title {
            letter-spacing: 0.8px;

            a:hover {
                color: $color-4;
            }
        }
    }

    .link {
        border-radius: 10px;
        background-color: $white;
        position: absolute;
        width: 75px;
        height: 75px;
        right: 60px;
        bottom: 28px;
        @include flex(center, center);

        svg path {
            @include transition3;
        }

        &:hover {
            background-color: $color-3;

            svg path {
                fill: $white;
            }
        }

        svg {
            width: 40px;
            height: 40px;
        }

        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        .link {
            right: 42px;
            opacity: 1;
            visibility: visible;
        }
    }
}

.product-item {
    margin: 24px 0;

    .inner {
        overflow: hidden;
        position: relative;
        display: flex;
        border-radius: 20px;
        padding: 44px 16px 20px 50px;
        background-color: $white;
    }

    .content {
        width: 48%;
    }

    .image {
        width: 52%;
        padding-top: 10px;
        min-height: 335px;
    }

    .image {
        text-align: right;
    }

    .overlay-2 {
        position: absolute;
        width: 758px;
        height: 758px;
        right: -550px;
        top: -215px;
        background-color: $color-4;
        border-radius: 50%;
        @include transition5;
        opacity: 1;
        visibility: visible;
    }

    .overlay {
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        @include transition6;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;

        img {
            width: 100%;
        }
    }

    .price {
        font-family: "Cerebri-SemiBold";
        z-index: 9;
        position: absolute;
        right: 45px;
        padding: 11.5px 36px;
        top: 0;
        border-radius: 25px;
        color: $white;
        font-size: 20px;
    }

    .content {
        position: relative;

        .desc {
            @include transition3;
            margin-bottom: 17px;
        }

        ul {
            margin-bottom: 32px;

            li {
                font-family: "Cerebri-SemiBold";
                font-weight: 500;
                position: relative;
                padding-left: 20px;
                font-size: 17px;
                color: $color-3;
                @include transition3;
                margin-bottom: 5px;
                letter-spacing: 0.2px;

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    top: 10px;
                    left: 0;
                    background-color: $color-main;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }

    &.active,
    &:hover {
        .tf-button {
            background-color: $color-3;
            color: $white;
        }

        ul li {
            color: $white;
        }

        .title a {
            color: $white;
        }

        .content {
            .desc {
                color: $color-5;
            }
        }

        .overlay-2 {
            right: -758px;
            opacity: 0;
            visibility: hidden;
        }

        .overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}

.about-box {
    margin: 75px 0 52px;
    overflow: hidden;
    display: flex;
    border-radius: 35px;
    background-color: rgb(255, 244, 234);
    padding: 30px 30px 35px;
    position: relative;

    .icon-bg {
        position: absolute;
        right: -50px;
        top: -50px;
        z-index: 1;
    }

    .icon-bg2 {
        right: 60px;
        bottom: 50px;
        position: absolute;
        z-index: 1;
        width: 129px;
        height: 129px;
    }

    .image {
        z-index: 2;
        width: 40%;

        img {
            border-radius: 20px;
            max-width: 597px;
            width: 100%;
        }
    }

    .content {
        z-index: 2;
        padding: 64px 240px 0 40px;
        width: 60%;

        .wrap-button {
            display: flex;
        }
    }
}

.icon-list {
    @include flex(inherit, flex-start);
    flex-wrap: wrap;

    li {
        margin-bottom: 13px;
        @include flex(flex-start, flex-start);
        padding-right: 30px;
        width: 44%;

        svg {
            margin: 5px 10px 0 3px;
            width: 15px;
            height: 15px;
            min-width: 15px;
        }

        span {
            text-transform: uppercase;
            letter-spacing: 0.8px;
            margin-right: -50px;
            width: 100%;
        }
    }

    &.style2 {
        flex-wrap: wrap;
        margin-left: -2px;
        padding-top: 62px;
        margin-right: -100px;

        li {
            width: 100%;

            span {
                text-transform: uppercase;
                letter-spacing: 0.8px;
                margin-right: -50px;
                width: 100%;
                color: $color-3;
            }
        }
    }
}

.icon-box {
    &.style1 {
        padding: 32px 36px 44px 34px;
    }

    &.style2 {
        padding: 52px 55px 67px 75px;
        height: 100%;

        p {
            padding-right: 0;
        }

        .top {
            .left {
                width: 74%;
            }

            .icon {
                width: 26%;
            }
        }
    }

    h4 {
        margin-bottom: 16px;
        letter-spacing: 1px;
        line-height: 40px;
    }

    p {
        font-family: "Cerebri-Regular";
        font-size: 17px;
        line-height: 28px;
        color: $white;
        margin-bottom: 32px;
        padding-right: 36px;
    }

    .action {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        font-family: $font-1;
        display: flex;
        align-items: center;
        letter-spacing: 1.2px;

        svg {
            width: 25px;
            height: 25px;

            path {
                fill: $white;
                @include transition3;
            }
        }

        &:hover {
            color: $color-main;

            svg {

                path {
                    fill: $color-main;
                }
            }
        }
    }

    .top {
        display: flex;

        .left {
            padding-top: 16px;
            width: 65%;
        }

        .icon {
            width: 35%;
            padding-left: 15px;
            text-align: right;
        }
    }
}

.post {
    position: relative;

    .image {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        justify-content: center;
        height: 353px;
        transition: height 0.3s;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        .tag {
            background-color: $color-2;
            border-radius: 30px;
            padding: 9px 5% 9px 12.6%;

            li {
                &:nth-child(1) {
                    margin-right: 20px;
                }

                display: block;
                font-size: 13px;
                font-family: "Cerebri-Regular";
                color: $white;

                span {
                    padding-left: 4px;
                }
            }

            position: absolute;
            bottom: 10px;
            width: calc(100% - 24px);
        }
    }

    .title {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.3px;
        font-family: $font-1;
        padding: 0 15px;
    }

    .desc {
        padding: 17px 16px 0;
        margin-bottom: 16px;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 0;
        @include transition3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &.active,
    &:hover {
        .image {
            height: 261px;
        }

        .desc {
            visibility: visible;
            opacity: 1;
            width: 100%;
            height: 100px;
            left: 0;
            position: relative;
            @include transition1;
            margin-bottom: 25px;
        }
    }
}

.text-600 {
    font-weight: 600;
}

.w50 {
    width: 50%;
}

.wrap-box {
    margin: 0 -15px;

    .w50 {
        padding: 0 15px;
    }
}

.wrap-tag {
    @include flex(flex-start, space-between);

    .tags {
        display: flex;

        li {
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }

            a,
            span {
                letter-spacing: 0.5px;
            }

            a {
                font-family: $font-2;
                color: $white;
                font-size: 15px;
            }
        }
    }

    .text {
        font-weight: 600;
        font-size: 17px;
        color: $white;
        font-family: $font-1;
    }

    .link-share {
        .social {
            li {
                margin: 0 -1px;

                a {
                    @include flex(center, center);
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    background-color: transparent;

                    i {
                        @include transition3;
                        color: #939393;
                        font-size: 13px;
                    }

                    &:hover,
                    &.active {
                        background-color: $color-2;

                        i {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.form-comment {
    &.style {
        fieldset {
            width: calc((100% - 50px) / 3);
        }
    }

    form {
        @include flex(inherit, space-between);
        flex-wrap: wrap;
    }

    fieldset {
        width: calc((100% - 25px) / 2);

        &.full {
            width: 100%;
        }

        textarea,
        input {
            border: 1px solid #c8c8c8;

            &:focus {
                border-color: $color-2;
            }
        }
    }
}

.post-details {
    .comments {
        .title {
            font-size: 30px;
        }

        .comment {
            padding: 36px 0;
            border-bottom: 1px solid #c8c8c8;

            .reply {
                border-radius: 5px;
                width: 86px;
                height: 33px;
                background-color: $color-2;
                @include flex(center, center);
                font-size: 13px;
                color: $white;

                svg {
                    margin-right: 4px;
                    width: 10px;
                    height: 10px;

                    path {
                        @include transition3;
                    }
                }

                &:hover {
                    background-color: $color-3;
                }
            }

            .image-box {
                @include flex(center, flex-start);

                .image {
                    position: relative;
                    margin-right: 20px;
                    width: 68px;
                    height: 68px;
                    overflow: hidden;
                    border-radius: 50%;

                    &::before {
                        z-index: 1;
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 2.5px solid $color-main;
                    }
                }

                .content {
                    .name {
                        color: $color-3;
                        letter-spacing: 1px;
                        font-weight: 600;
                        margin-bottom: 0;
                        font-family: $font-1;
                        text-transform: uppercase;
                    }

                    .time {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .wrap-tag {
        padding: 18px 36px;
        flex-wrap: wrap;
    }

    .tag {
        background-color: $color-2;
        border-radius: 30px;
        padding: 9px 45px;

        li {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }

            display: block;
            font-size: 13px;
            font-family: "Cerebri-Regular";
            color: $white;

            span {
                padding-left: 4px;
            }
        }

    }

    .content {
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;

        .inner {
            padding: 42px 64px 40px;

            .icon {
                width: 50px;
            }
        }
    }
}

.product-3 {
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    >img {
        width: 100%;
    }

    .action {
        position: absolute;
        width: 100%;
        height: 100%;
        @include flex(center, center);
        left: 0;
        top: -100%;
        background: url('./../../assets/images/backgroup/bg-box-2.jpg') center center no-repeat;
        background-size: cover;
        opacity: 0;
        visibility: hidden;
        border-radius: 20px;
        @include transition3;

        img {
            width: 100%;
            height: 100%;
        }

        .icon {
            border-radius: 50%;
            background-color: $color-2;
            width: 71px;
            height: 71px;
            border-radius: 50%;
            @include flex(center, center);

            svg {
                width: 22px;
                height: 22px;

                path {
                    @include transition3;
                    fill: $white;
                }
            }
        }
    }

    .icon:hover {
        background-color: $color-3;
    }

    &:hover {
        .action {
            opacity: 1;
            visibility: visible;
            top: 0;
        }


    }
}

.item-box-2 {
    padding: 24px 0 36px;

    .image {
        @include flex(flex-end, center);
        height: 80px;
    }

    &.style2 {
        padding-bottom: 20px;
    }
}

.video {
    position: relative;
    @include flex(center, center);

    .img_video {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .wrap-video {
        z-index: 9;
        position: absolute;

        a {
            width: 88px;
            height: 88px;
            border-radius: 50%;
            background-color: $white;
            @include flex(center, center);
        }
    }
}

.panigation {
    @include flex(center, center);

    li {
        margin: 0 5px;

        a {
            @include flex(center, center);
            border-radius: 50%;
            background-color: $color-3;
            width: 49px;
            height: 49px;
            color: $white;

            i {
                color: $white;
            }

            &.active,
            &:hover {
                background-color: $color-2;
            }
        }
    }
}

.widget-search {
    border-radius: 30px;
    border: 1px solid #c8c8c8;
    padding: 28px 35px;
}

.form-search {
    position: relative;
    border: 1px solid #c8c8c8;
    border-radius: 25px;

    button {
        top: 4px;
        right: 4px;
        position: absolute;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: $color-main;
        @include flex(center, center);

        svg {
            width: 15px;
            height: 15px;
        }
    }
}

.widget-link {
    padding: 42px 35px;
    border-radius: 20px;
    background-color: $color-2;

    li {
        display: flex;
        align-items: center;
        padding: 17px 0;
        border-bottom: 1px dashed #c8c8c8;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        a {
            font-size: 17px;
            color: $white;
            font-family: $font-1;
            position: relative;
            padding-left: 0;
            overflow: hidden;

            svg {
                width: 28px;
                height: 28px;
                @include transition3;
                position: absolute;
                left: -40px;
                top: -1px;

                path {
                    fill: $color-main;
                }
            }

            &.active,
            &:hover {
                padding-left: 25px;

                svg {
                    left: -8px;
                }
            }
        }
    }
}

.faqs {
    .box {
        @include flex(center, flex-start);

        h5 {
            line-height: 1.4;
            letter-spacing: 0.5px;
        }

        .icon {
            @include flex(center, center);
            margin-right: 32px;
            width: 88px;
            height: 88px;
            min-width: 88px;
            background-color: $color-2;
            border-radius: 15px;

            img {
                width: 46px;
            }
        }
    }
}

.question {
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    position: relative;

    .bg {
        position: absolute;
        bottom: 0;
        max-width: 364px;
        right: -66px;
        height: calc(100% + 20px);
    }

    &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3860d1;
        z-index: -1;
        border-radius: 20px;
    }

    p {
        font-size: 20px;
        font-family: $font-1;
        color: $white;
        margin-bottom: -2px;
        letter-spacing: 0.5px;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 26px;
        letter-spacing: 1px;
    }

    .content {
        width: 60%;
        padding: 70px 15px 78px 70px;
    }

}

.location-box {
    padding: 43px 64px 46px 35px;
    border-radius: 20px;

    h4 {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 1px;
        margin-bottom: 27px;
    }

    ul {
        margin-bottom: 42px;

        li {
            color: $white;
            margin-bottom: 13px;
            line-height: 26px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .tf-button {
        svg {
            margin-left: 4px;
            width: 25px;
            height: 25px;

            path {
                fill: $white;
                @include transition3;
            }
        }

        &:hover {
            background-color: $white;
            color: $color-3;

            svg {
                path {
                    fill: $color-3;
                    ;
                }
            }
        }
    }
}

.restaurant-section {
    position: relative;

    .img-bg,
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .overlay {
        background-color: rgb(0, 0, 0);
        opacity: 0.302;
        z-index: 2;
    }

    .img-bg {
        z-index: 1;

        // background: url(./../../assets/images/backgroup/bg-section-14.jpg) center center no-repeat;
        // background-size: cover;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.restaurant-form {
    position: relative;
    max-width: 731px;
    margin-left: auto;

    h2 {
        margin-bottom: 14px;
        letter-spacing: 1px;
    }

    .desc {
        font-family: $font-1;
        font-size: 20px;
        color: $white;
        margin-bottom: 45px;
        letter-spacing: 0.6px;
    }

    form {
        margin-left: auto;
        position: relative;
        z-index: 3;

        input {
            &::placeholder {
                letter-spacing: 0.2px;
                font-family: $font-1;
            }
        }

        .tf-button {
            padding: 6px 32px;
            letter-spacing: 1px;

            svg path {
                @include transition3;
            }

            &:hover {
                background-color: $white;
                color: $color-3;

                svg {
                    path {
                        fill: $color-3;
                    }
                }
            }

            &.style {
                background-color: $color-2;

                &:hover {
                    background-color: $white;
                    color: $color-3;
                }
            }

            i {
                margin-left: 8px;
            }

            svg {
                margin-left: 10px;
            }

            svg,
            i {
                font-size: 13px;
                width: 13px;
                height: 13px;
            }
        }
    }
}

.restaurant-section .simpleParallax {
    height: 100%;
}

.product-box {
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    padding: 94px 70px 103px;

    .content {
        width: 50%;
    }

    ul {
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5px 5px 5px 30px;

        li {
            font-size: 20px;
            font-family: $font-1;
            font-weight: 500;

            &:nth-child(1) {
                margin-right: 22px;
                padding-right: 28px;
            }

            &:nth-child(2) {
                margin-right: 30px;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }

            a {
                width: 51px;
                height: 51px;
                border-radius: 50%;
                background-color: $color-2;
                @include flex(center, center);

                i {
                    font-size: 17px;
                    color: $white;
                }
            }
        }

        li.style {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                right: 0;
                top: -5px;
                border: 1px dashed rgba(255, 255, 255, 0.5);
                width: 1px;
                height: calc(100% + 10px);
                transform: rotate(20deg);
            }
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.product-item-style2 {
    padding: 25px 28px 34px 28px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    background-color: $white;
    @include transition3;

    &.active,
    &:hover {
        border-color: transparent;
        box-shadow: 0px 8px 23.52px 0.48px rgba(0, 0, 0, 0.13);
    }

    .top {
        position: relative;
        justify-content: space-between;

        h6 {
            padding-right: 4px;
            letter-spacing: 0.4px;
        }

        h6,
        .price {
            position: relative;
            z-index: 2;
            background-color: $white;
        }

        .dot {
            position: absolute;
            right: 40px;
        }
    }

    .pl4 {
        padding-left: 4px;
    }

    .dot {
        opacity: 0.4;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .price {
        font-size: 17px;
        color: $color-2;
    }

    .desc {
        line-height: 26px;
        margin-bottom: 18px;
        padding-right: 10px;
    }

    .link-item {
        font-size: 13px;
        line-height: 25px;
        color: $white;
        @include flex(center, center);
        height: 31px;
        border-radius: 20px;
        padding: 0 20px;
        background-size: 500% 100%;
        @include transition5;

        &:hover {
            background-position: 100% 0;
        }

        &.seasonal {
            background-image: linear-gradient(90deg, rgb(225, 118, 3) 0%, rgb(246, 179, 57) 100%);
        }

        &.recommend {
            background-image: linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
        }

        &.new {
            background-image: linear-gradient(90deg, rgb(20, 59, 167) 0%, rgb(56, 96, 209) 100%);
        }
    }

    .icon {
        width: 97px;
        height: 97px;
        min-width: 97px;
        border-radius: 50%;
        margin-right: 22px;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            left: 0;
            top: 0;
            border: 1px solid $color-main;
            z-index: 1;
        }
    }
}

.content-offer {
    padding: 65px 40px 75px 36px;
    background-color: #fff4ea;
    position: relative;

    .tf-button {
        padding: 6px 32px;
    }

    .list {
        display: flex;
        font-size: 17px;
        line-height: 35px;
        color: $color-3;
        margin-bottom: 38px;
        flex-wrap: wrap;

        li {
            width: calc((100% - 60px) / 2);
        }
    }

    .ic-list {
        display: flex;
        align-items: center;
        margin-bottom: 28px;

        li {
            @include flex(center, flex-start);

            .icon {
                border-radius: 50%;
                background-color: $color-2;
                width: 31px;
                height: 31px;
                @include flex(center, center);
                margin-right: 12px;

                svg {
                    width: 13px;
                    height: 13px;

                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
}

.delivery-method {
    padding: 36px 70px 32px;
    border-radius: 58px;
    display: flex;
    width: 100%;

    .box {
        display: flex;
        align-items: center;
        padding-right: 30px;

        &:nth-child(1) {
            width: 20.4%;
        }

        &:nth-child(2) {
            width: 20.7%;
        }

        &:nth-child(3) {
            width: 34.9%;
        }

        &:nth-child(4) {
            width: 24%;
            padding-right: 0;
        }

        .icon {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            @include flex(center, center);
            min-width: 42px;

            svg {
                width: 20px;
                height: 20px;
            }

            img {
                width: 18px;
            }

            &.style1 {
                background-color: #56ce66;
            }

            &.style2 {
                background-color: #1d92df;
            }

            &.style3 {
                background-color: #fd7d00;
            }
        }
    }
}

#popularity {
    border-radius: 25px;
    background-color: rgb(18, 18, 18);
    min-width: 305px;
    margin-bottom: 70px;

    .dropdown-menu {
        width: 100%;
    }

    .down {
        top: 12px;
        position: absolute;
        right: 32px;
        z-index: 9;
        color: $white;
    }

    .btn-selector {
        font-size: 15px;
        font-family: $font-1;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        color: $white;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 50px 0 32px;
    }
}

.product-4 {
    margin-bottom: 68px !important;

    .image {
        padding: 90px 15px 15px;
        position: relative;
        border-radius: 20px;
        background-image: -moz-linear-gradient(90deg, rgb(245, 168, 28) 0%, rgb(255, 255, 255) 100%);
        background-image: -webkit-linear-gradient(90deg, rgb(245, 168, 28) 0%, rgb(255, 255, 255) 100%);
        background-image: -ms-linear-gradient(90deg, rgb(245, 168, 28) 0%, rgb(255, 255, 255) 100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 22px;

        .info {
            position: absolute;
            right: 22px;
            top: 23px;

            a {
                margin-left: 10px;
                height: 32px;
                border-radius: 20px;
                font-size: 13px;
                padding: 6px 18px 5px;
                @include flex(center, center);
                color: $white;

                &.new,
                &.sale {
                    background-image: -moz-linear-gradient(-90deg, rgb(103, 58, 183) 0%, rgb(151, 59, 245) 100%);
                    background-image: -webkit-linear-gradient(-90deg, rgb(103, 58, 183) 0%, rgb(151, 59, 245) 100%);
                    background-image: -ms-linear-gradient(-90deg, rgb(103, 58, 183) 0%, rgb(151, 59, 245) 100%);
                }

                &.recommended {
                    background-image: -moz-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
                    background-image: -webkit-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
                    background-image: -ms-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
                }

                &.seasonal {
                    background-image: -moz-linear-gradient(90deg, rgb(225, 118, 3) 0%, rgb(246, 179, 57) 100%);
                    background-image: -webkit-linear-gradient(90deg, rgb(225, 118, 3) 0%, rgb(246, 179, 57) 100%);
                    background-image: -ms-linear-gradient(90deg, rgb(225, 118, 3) 0%, rgb(246, 179, 57) 100%);

                }
            }
        }

        img {
            margin-bottom: 60px;
            max-height: 212px;
        }

        .price {
            width: 100%;
            background-image: -moz-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
            height: 38px;
            border-radius: 30px;
            color: $white;
            padding: 0 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 17px;

                span {
                    margin-left: 15px;
                    opacity: 0.5;
                    text-decoration: line-through;
                }
            }
        }
    }

    .tf-button {
        padding: 6px 33px;
    }

    h5 {
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 16px;
        color: $color-3;
        letter-spacing: 0.5px;

        &::before {
            background-color: rgb(245, 168, 28);
            position: absolute;
            border-radius: 2px;
            height: 4px;
            content: "";
            left: 0;
            bottom: 0;
            width: 60px;
        }
    }

    .desc {
        margin-bottom: 34px;
        padding-right: 15px;
    }

    .action {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $color-main;
        border-radius: 50%;
        @include flex(center, center);

        img {
            width: 18px;
        }

        svg {
            width: 18px;
            height: 18px;
        }

        &:hover {
            &::before {
                opacity: 0;
            }
        }

        &::before {
            opacity: 1;
            @include transition3;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: "";
            border-radius: 50%;
            background-image: -moz-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
        }
    }
}

.product-5 {
    position: relative;
    overflow: hidden;

    .image {
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &.active,
    &:hover {
        .content {
            opacity: 1;
            visibility: visible;
            top: 50%;
        }
    }

    .content {
        width: calc(100% - 68px);
        height: calc(100% - 60px);
        position: absolute;
        background-color: $color-2;
        border-radius: 20px;
        top: 60%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        padding: 56px 40px 60px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        @include transition3;

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        .title {
            position: relative;
            padding-bottom: 28px;
            margin-bottom: 22px;
            letter-spacing: 0.5px;

            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-main;
                width: 46px;
                height: 4px;
                border-radius: 2px;
            }
        }

        .link {
            border-radius: 8px;
            background-color: $color-main;
            width: 58px;
            height: 58px;
            @include flex(center, center);

            &:hover {
                background-color: $color-3;
            }

            svg {
                width: 35px;
                height: 35px;

                path {
                    @include transition3;
                    fill: $white;
                }
            }
        }
    }
}

.job-box {
    padding: 32px 45px 34px 40px;
    border: 1px solid #c8c8c8;
    background-color: transparent;
    @include transition3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    &.active,
    &:hover {
        border-color: $color-2;

        .tf-button {
            background-color: $color-2;
        }
    }

    .tf-button {
        margin-top: 8px;
    }

    .title {
        margin-bottom: 13px;
        letter-spacing: 0.5px;
    }

    ul {
        span {
            color: $color-3;
            font-weight: bold !important;
            font-family: "Cerebri-Medium";
        }

        li {
            padding-left: 23px;
            margin-right: 16px;
            position: relative;

            &:first-child {
                padding-left: 0;

                &::before {
                    display: none;
                }
            }

            &::before {
                position: absolute;
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $color-2;
                left: 0;
                top: 10px;
            }
        }
    }

    >div {
        &:nth-child(1) {
            width: 70%;
        }

        &:nth-child(2) {
            width: 30%;
        }
    }
}

.info-details {
    margin-top: 4px;
    padding-left: 25px;
    padding-right: 30px;

    .info-list {
        li {
            span {
                color: $color-3;
            }
        }
    }

    .link {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $color-main;
        border-radius: 50%;
        @include flex(center, center);

        img {
            width: 18px;
        }

        svg {
            width: 18px;
            height: 18px;
        }

        &:hover {
            &::before {
                opacity: 0;
            }
        }

        &::before {
            opacity: 1;
            @include transition3;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: "";
            border-radius: 50%;
            background-image: -moz-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(61, 61, 61) 100%);
        }
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 16px;

        li {
            width: 48%;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: $color-3;
            margin-bottom: 10px;

            span {
                color: $color-2;
            }
        }
    }

    .boder-bottom {
        border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    }

    .price {
        font-size: 25px;
        letter-spacing: 0.5px;
        color: $color-2;

        span {
            color: #c8c8c8;
            padding-left: 15px;
        }
    }

    .rating {
        display: flex;

        &.rating_5 {
            li {
                i {
                    color: $color-main;
                }
            }
        }

        &.rating_4 {
            li {

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    i {
                        color: $color-main;
                    }
                }
            }
        }

        &.rating_3 {
            li {

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    i {
                        color: $color-main;
                    }
                }
            }
        }

        &.rating_2 {
            li {

                &:nth-child(1),
                &:nth-child(2) {
                    i {
                        color: $color-main;
                    }
                }
            }
        }

        &.rating_1 {
            li {

                &:nth-child(1) {
                    i {
                        color: $color-main;
                    }
                }
            }
        }

        li {
            margin-right: 2px;

            i {
                font-size: 17px;
                color: $txt-color;
            }
        }
    }

    .tag {
        span {
            height: 32px;
            border-radius: 20px;
            font-size: 13px;
            padding: 6px 18px 5px 22px;
            letter-spacing: 0.5px;
            @include flex(center, flex-start);
            color: $white;
        }

        .new,
        .sale {
            background-image: -moz-linear-gradient(-90deg, rgb(103, 58, 183) 0%, rgb(151, 59, 245) 100%);
            background-image: -webkit-linear-gradient(-90deg, rgb(103, 58, 183) 0%, rgb(151, 59, 245) 100%);
            background-image: -ms-linear-gradient(-90deg, rgb(103, 58, 183) 0%, rgb(151, 59, 245) 100%);
        }

        .recommended {
            background-image: -moz-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(169, 0, 1) 0%, rgb(237, 43, 44) 100%);
        }

        .seasonal {
            background-image: -moz-linear-gradient(90deg, rgb(225, 118, 3) 0%, rgb(246, 179, 57) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(225, 118, 3) 0%, rgb(246, 179, 57) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(225, 118, 3) 0%, rgb(246, 179, 57) 100%);

        }
    }

    .social {
        li {
            margin-right: 1px;

            a {
                @include flex(center, center);
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background-color: transparent;

                i {
                    @include transition3;
                    color: $color-3;
                    font-size: 15px;
                }

                &:hover,
                &.active {
                    background-color: $color-2;

                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}