@use '../abstracts/' as *;

/* Box
-------------------------------------------------------------- */
.about-inner {
    padding: 64px 215px 60px;
    @include flex(inherit, space-between);
    position: relative;
    overflow: hidden;

    .icon-bg {
        position: absolute;

        &.icon_1 {
            left: -35px;
            bottom: -40px;
        }

        &.icon_2 {
            right: -35px;
            bottom: -20px;
        }
    }

    .box {
        text-align: center;
        height: 100%;
        position: relative;
        overflow: hidden;

        h5 {
            position: relative;
            padding-bottom: 22px;
            letter-spacing: 0.6px;
            font-weight: 600;

            &::before {
                position: absolute;
                content: "";
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 60px;
                height: 3px;
                background-color: $color-main;
            }
        }

        .inner {
            position: relative;
            @include flex(center, flex-start);
            flex-direction: column;
            top: 0;

            .icon {
                width: 96px;
                height: 96px;
                background-color: $color-2;
                border-radius: 20px;
                @include flex(center, center);

                svg {
                    width: 47px;
                    height: 41px;

                    path {
                        fill: $white;
                    }
                }
            }


        }

        .hover-effect {
            padding: 12px 35px 16px;
        }

        .inner {
            @include transition5;
            padding: 14px 16px 16px;
        }

        .hover-effect {
            @include transition3;
            position: absolute;
            top: -100%;
            opacity: 0;
            visibility: hidden;
        }

        &.active,
        &:hover {
            .inner {
                top: 100%;
                @include transition3;
            }

            .hover-effect {
                @include transition5;
                top: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.item-box {
    position: relative;
    margin-bottom: 30px;

    .image {
        img {
            border-radius: 20px;
        }
    }

    .content {
        top: 0;
        left: 0;
        padding: 42px 60px 42px 40px;
        position: absolute;

        .title {
            letter-spacing: 0.8px;

            a:hover {
                color: $color-4;
            }
        }
    }

    .link {
        border-radius: 10px;
        background-color: $white;
        position: absolute;
        width: 75px;
        height: 75px;
        right: 60px;
        bottom: 28px;
        @include flex(center, center);

        svg path {
            @include transition3;
        }

        &:hover {
            background-color: $color-3;

            svg path {
                fill: $white;
            }
        }

        svg {
            width: 40px;
            height: 40px;
        }

        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        .link {
            right: 42px;
            opacity: 1;
            visibility: visible;
        }
    }
}

.product-item {
    margin: 24px 0;

    .inner {
        overflow: hidden;
        position: relative;
        display: flex;
        border-radius: 20px;
        padding: 44px 16px 20px 50px;
        background-color: $white;
    }

    .content {
        width: 48%;
    }

    .image {
        width: 52%;
        padding-top: 10px;
        min-height: 335px;
    }

    .image {
        text-align: right;
    }

    .overlay-2 {
        position: absolute;
        width: 758px;
        height: 758px;
        right: -550px;
        top: -215px;
        background-color: $color-4;
        border-radius: 50%;
        @include transition5;
        opacity: 1;
        visibility: visible;
    }

    .overlay {
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        @include transition6;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;

        img {
            width: 100%;
        }
    }

    .price {
        font-family: "Cerebri-SemiBold";
        z-index: 9;
        position: absolute;
        right: 45px;
        padding: 11.5px 36px;
        top: 0;
        border-radius: 25px;
        color: $white;
        font-size: 20px;
    }

    .content {
        position: relative;

        .desc {
            @include transition3;
            margin-bottom: 17px;
        }

        ul {
            margin-bottom: 32px;

            li {
                font-family: "Cerebri-SemiBold";
                font-weight: 500;
                position: relative;
                padding-left: 20px;
                font-size: 17px;
                color: $color-3;
                @include transition3;
                margin-bottom: 5px;
                letter-spacing: 0.2px;

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    top: 10px;
                    left: 0;
                    background-color: $color-main;
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }

    &.active,
    &:hover {
        .tf-button {
            background-color: $color-3;
            color: $white;
        }

        ul li {
            color: $white;
        }

        .title a {
            color: $white;
        }

        .content {
            .desc {
                color: $color-5;
            }
        }

        .overlay-2 {
            right: -758px;
            opacity: 0;
            visibility: hidden;
        }

        .overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}

.about-box {
    margin: 75px 0 52px;
    overflow: hidden;
    display: flex;
    border-radius: 35px;
    background-color: rgb(255, 244, 234);
    padding: 30px 30px 35px;
    position: relative;

    .icon-bg {
        position: absolute;
        right: -50px;
        top: -50px;
        z-index: 1;
    }

    .icon-bg2 {
        right: 60px;
        bottom: 50px;
        position: absolute;
        z-index: 1;
        width: 129px;
        height: 129px;
    }

    .image {
        z-index: 2;
        width: 40%;

        img {
            border-radius: 20px;
            max-width: 597px;
            width: 100%;
        }
    }

    .content {
        z-index: 2;
        padding: 64px 240px 0 40px;
        width: 60%;

        .wrap-button {
            display: flex;
        }

        ul {
            @include flex(inherit, flex-start);
            flex-wrap: wrap;

            li {
                margin-bottom: 13px;
                @include flex(flex-start, flex-start);
                padding-right: 10px;
                width: 44%;

                svg {
                    margin: 5px 10px 0 3px;
                    width: 15px;
                    height: 15px;
                }

                span {
                    text-transform: uppercase;
                    letter-spacing: 0.8px;
                }
            }
        }
    }
}

.icon-box {
    padding: 32px 36px 44px 34px;

    h4 {
        margin-bottom: 16px;
        letter-spacing: 1px;
        line-height: 40px;
    }

    p {
        font-family: "Cerebri-Regular";
        font-size: 17px;
        line-height: 28px;
        color: $white;
        margin-bottom: 32px;
        padding-right: 36px;
    }

    .action {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        font-family: $font-1;
        display: flex;
        align-items: center;
        letter-spacing: 1.2px;

        svg {
            width: 25px;
            height: 25px;

            path {
                fill: $white;
                @include transition3;
            }
        }

        &:hover {
            color: $color-main;

            svg {

                path {
                    fill: $color-main;
                }
            }
        }
    }

    .top {
        display: flex;

        .left {
            padding-top: 16px;
            width: 65%;
        }

        .icon {
            width: 35%;
            padding-left: 15px;
            text-align: right;
        }
    }
}

.post {
    position: relative;

    .image {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        justify-content: center;
        height: 353px;
        transition: height 0.3s;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        .tag {
            background-color: $color-2;
            border-radius: 30px;
            padding: 9px 5% 9px 12.6%;

            li {
                &:nth-child(1) {
                    margin-right: 20px;
                }

                display: block;
                font-size: 13px;
                font-family: "Cerebri-Regular";
                color: $white;

                span {
                    padding-left: 4px;
                }
            }

            position: absolute;
            bottom: 10px;
            width: calc(100% - 24px);
        }
    }

    .title {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.3px;
        font-family: $font-1;
        padding: 0 15px;
    }

    .desc {
        padding: 17px 16px 0;
        margin-bottom: 16px;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 0;
        @include transition3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    &.active,
    &:hover {
        .image {
            height: 261px;
        }

        .desc {
            visibility: visible;
            opacity: 1;
            width: 100%;
            height: 100px;
            left: 0;
            position: relative;
            @include transition1;
            margin-bottom: 25px;
        }
    }
}

.product-3 {
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    >img {
        width: 100%;
    }

    .action {
        position: absolute;
        width: 100%;
        height: 100%;
        @include flex(center, center);
        left: 0;
        top: -100%;
        background: url('./../../assets/images/backgroup/bg-box-2.jpg') center center no-repeat;
        background-size: cover;
        opacity: 0;
        visibility: hidden;
        border-radius: 20px;
        @include transition3;

        img {
            width: 100%;
            height: 100%;
        }

        .icon {
            border-radius: 50%;
            background-color: $color-2;
            width: 71px;
            height: 71px;
            border-radius: 50%;
            @include flex(center, center);

            svg {
                width: 22px;
                height: 22px;

                path {
                    @include transition3;
                    fill: $white;
                }
            }
        }
    }

    .icon:hover {
        background-color: $color-3;
    }

    &:hover {
        .action {
            opacity: 1;
            visibility: visible;
            top: 0;
        }


    }
}

.item-box-2 {
    padding: 20px 0 30px;

    .image {
        @include flex(flex-end, center);
        height: 80px;
    }
}

.video {
    position: relative;
    @include flex(center, center);

    .img_video {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .wrap-video {
        z-index: 9;
        position: absolute;

        a {
            width: 88px;
            height: 88px;
            border-radius: 50%;
            background-color: $white;
            @include flex(center, center);
        }
    }
}