@use '../abstracts/' as *;

/* Extrass Class
-------------------------------------------------------------- */
.flex {
    @include flex(flex-start, flex-start);
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: $w100;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.fz-17 {
    font-size: 17px;
}