@use '../abstracts/' as *;

/* Accordion
-------------------------------------------------------------- */
.flat-accordion {
    .flat-toggle {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
            border: none;
        }

        .toggle-title {
            padding: 13px 50px 17px 35px;
            position: relative;
            background-color: #0e1927;
            border-radius: 25px;
            @include flex(center, flex-start);

            &:hover {
                cursor: pointer;
            }

            &.active {
                background-color: $color-2;

                .icon {
                    transform: rotate(180deg);
                }
            }

            .icon {
                position: absolute;
                right: 30px;
                top: 13px;
                @include transition3;
                transform: rotate(0);

                i {
                    font-size: 17px;
                    color: $color-main;
                }
            }

            .title {
                font-family: $font-1;
                font-weight: 400;
                margin-bottom: 0;
                letter-spacing: 0.35px;
                font-size: 17px;
            }
        }

        .toggle-content {
            padding: 14px 42px 28px 35px;
            display: none;
            margin-top: 8px;
        }
    }
}