@use '../abstracts/' as *;

/* Header
-------------------------------------------------------------- */
.header.main {
    background: transparent;
}

.header {

    .hamburger {
        width: 63px;
        height: 63px;
    }

    &.header-main-nav {
        .mobile-button {
            right: auto;
        }

        #main-nav-mobi {
            display: none;
        }

        &.toggle_menu {
            #main-nav-mobi {
                display: block;
            }
        }
    }

    top: 115px;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    @include flex(center, space-between);

    #site-header {
        background-color: $color-4;
        height: 87px;
        position: relative;
        border-radius: 100px;
        @include flex(center, flex-start);

        &::before {
            border-radius: 100px;
            position: absolute;
            left: 0;
            top: 0px;
            width: 100%;
            height: 80px;
            content: "";
            background-image: -moz-linear-gradient(90deg, rgb(202, 2, 3) 0%, rgb(255, 0, 1) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(202, 2, 3) 0%, rgb(255, 0, 1) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(202, 2, 3) 0%, rgb(255, 0, 1) 100%);
        }

        .site-header-inner {
            position: relative;
            z-index: 1;
        }
    }

    .main-nav {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-left: 48px;
        letter-spacing: 0.6px
    }

    .social {
        li {
            margin-left: 16px;

            img {
                @include transition3;
                transform: scale(1);

                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

    }
}

.curved-text {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 32px;
}

.curved-text span {
    min-width: 0.5em;
    text-align: center;
    padding: 30px;
    margin: 0px;
    color: #000;
}

#main-nav .menu {
    @include flex(center, center);

    &.right {
        justify-content: flex-end;
        padding-right: 15px;

        li {
            &:last-child {
                margin-right: 0;
            }
        }
    }

    z-index: 99;

    li {
        position: relative;
        margin-right: 45px;

        .sub-menu {
            padding: 10px 6px;
            min-width: 200px;
            box-shadow: 0 0px 32px 0 rgba(34, 183, 143, 0.5);
            border-radius: 2px;

        }

        li {
            width: 100%;
        }

        a {
            font-family: $font-1;
            position: relative;
            display: block;
            color: $white;
            font-size: 17px;
            font-weight: 500;
            padding: 31px 0;

            &::before {
                height: 3px;
                position: absolute;
                width: 100%;
                background-color: $color-main;
                content: "";
                left: 0;
                bottom: 25px;
                opacity: 0;
                @include transition3;
                border-radius: 8px;
            }

        }

        &:hover .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    li.menu-item-has-children>a {
        &::after {
            @include transition3;
            position: absolute;
            font-family: "Font Awesome 5 Pro";
            content: "\f078";
            right: -16px;
            top: calc(50% + 1px);
            font-weight: 500;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 13px;
            color: #fff;
        }

        &:hover {
            color: $color-main;

            &::after {
                color: $color-main;
            }
        }
    }

    li.menu-item.current-menu-item>a {

        &::before {
            opacity: 1;
        }
    }
}


/* Header Fixed
-------------------------------------------------------------- */
#header_main.is-fixed {
    z-index: 999;
    position: fixed;
    top: -212px;
    left: 0;
    width: 100%;
    opacity: 0;

    &.is-fixed.is-small {
        @include transition5;
        top: -1px;
        opacity: 1;
        visibility: visible;
        height: 87px;

        .show-light {
            display: none !important;
        }

        .show-dark {
            display: block !important;
        }

        .social {
            display: none;

            &.social-dark {
                display: flex !important;
            }
        }

        .show-header-fixed {
            display: flex;
        }

        #main-nav .menu li.menu-item-has-children>a::after,
        #main-nav .menu li>a {
            color: $white;
        }

        #main-nav .sub-menu li a {

            &:hover {
                color: $color-hover;
            }
        }
    }
}

#header_main.main.is-fixed {
    background-color: #190d3e;
}