$txt-color: #666666;
$white: #fff;
$black: #000000;
$color-main: #f5a81c;
$color-2: #dc0505;
$color-3: #0c0c0c;
$color-4: #bb0001;
$color-5: #ededed;
$color-6: #fff4ea;
$color-7: #999999;
$center: center;

$w100: 100%;
$font-1: 'Kanit', sans-serif;
$font-2: 'Cerebri';
$font-3: 'Cerebri-Regular';

$res_1760: 1760px;
$res_1600: 1600px;
$res_1440: 1440px;
$res_1200: 1200px;
$res_991: 991px;
$res_767: 767px;
$res_600: 600px;
$res_500: 500px;
$res_400: 500px;