$txt-color: #666666;
$white: #fff;
$color-hover: #c3a27c;
$black: #000000; 
 
$center: center;

$w100: 100%;
$font-main-1: 'DM Sans', sans-serif;
$Cerebri: 'Cerebri';
 

$res_1760: 1760px;
$res_1600: 1600px;
$res_1440: 1440px;
$res_1200: 1200px;
$res_991: 991px;
$res_767: 767px;
$res_600: 600px;
$res_500: 500px;
$res_400: 500px;